body {
  font-family: Verdana, sans-serif;
}

#dialogbox {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  top: 0;
}

#container {
  padding: 20px;
  margin: auto;
  width: 300px;
  border: 5px solid rgb(77, 77, 77);
  border-radius: 5px;
  text-align: center;
}

.button {
  text-align: center;
  border: none;
  color: white;
  background-color: red;
  font-size: 25px;
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}

#dialogbox #container {
}
